Ebene\MvpBundle\Entity\Commande:
    type: entity
    table: article
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        couleurrestaurant:
            type: string
            length: 255
        couleursection:
            type: string
            length: 255
        prix:
            type: float
        datecom:
            type: datetime
            nullable: true
        dateprep:
            type: datetime
            nullable: true
        datepret:
            type: datetime
            nullable: true
        datefin:
            type: datetime
            nullable: true
        datedesir:
            type: datetime
            nullable: true
    manyToOne:
        restaurant:
            targetEntity: Restaurant
            inversedBy: listecommandes
            joinColumn:
                name: restaurant_id
                referencedColumnName: id
        client:
            targetEntity: Client
            inversedBy: listecommandes
            joinColumn:
                name: client_id
                referencedColumnName: id
    oneToMany:
        listearticles:
            targetEntity: Article
            mappedBy: commande