Ebene\MvpBundle\Entity\Secondaire:
    type: entity
    table: secondaire
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        nom:
            type: string
            length: 255
        description:
            type: text
            nullable: true
        prix:
            type: float
    manyToMany:
        articles:
            targetEntity: Article
            mappedBy: secondaires
