Ebene\MvpBundle\Entity\Section:
    type: entity
    table: section
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        nom:
            type: string
            length: 255
        couleur1:
            type: string
            length: 255
        couleur2:
            type: string
            length: 255
        couleur3:
            type: string
            length: 255
    manyToOne:
        restaurant:
            targetEntity: Restaurant
            inversedBy: sections
            joinColumn:
                name: restaurant_id
                referencedColumnName: id
    oneToMany:
        articles:
            targetEntity: Article
            mappedBy: section
        